.auth__page {
  /* background: url("../../../assets/images/login-background.jpg"); */
  background: url("../../../assets/images/nj-background.jpg");
  /* background-position: center; */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 38px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  margin-top: 16px;
}

input {
  width: 100%;
  height: 45px;
  background: rgba(242, 242, 242, 0.4);
  border-radius: 8px;
  color: black;
  transition: all 0.4s ease-in-out;
  text-indent: 35px;
  font-size: 18px;
  font-weight: 600;
}

.codl {
  background: rgb(41, 103, 215);
  background: linear-gradient(90deg, #2865d7 0%, #498afe 34%, #f26949 100%);
  text-align: center;
}

input:focus {
  border: none !important;
  outline: none;
  background: rgba(242, 242, 242, 0.6);
}

.small_header {
  margin: 0 0 30px;
}

.dark_overlay {
  /* position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(248, 248, 248);
  opacity: 0.25;
  z-index: 100; */
}

.container {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  backdrop-filter: blur(5px);
  width: 570px;
  z-index: 1000;
  padding-inline: 60px;
  padding-block: 60px;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  /* top: 50%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.login__container {
  /* right: 90px; */
  border-radius: 15px;
}

.register__container {
  /* left: 90px; */
  border-radius: 15px;
}

.input-area {
  width: 100%;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  margin: 0 10px;
}

.btn {
  margin: 50px 0 5px;
  width: 100%;
  height: 45px;
  background: rgb(41, 103, 215);
  background: linear-gradient(90deg, #2865d7 0%, #498afe 34%, #f26949 100%);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background: rgb(40, 101, 215);
  background: linear-gradient(
    90deg,
    rgba(40, 101, 215, 1) 0%,
    rgba(73, 138, 254, 1) 19%,
    rgba(242, 105, 73, 1) 100%
  );
  /* transform: translateY(-2px); */
}

.btn:disabled {
  box-shadow: none;
  /* background-color: #75a4f7; */
  background: rgb(88, 135, 219);
  background: linear-gradient(
    90deg,
    rgba(88, 135, 219, 1) 0%,
    rgba(150, 188, 255, 1) 34%,
    rgba(241, 146, 124, 1) 100%
  );
  color: #f3f3f3;
  transform: translateY(0);
  cursor: default;
}

.bottom-text {
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}

.text_link {
  color: rgb(161, 72, 58);
  border: none;
  background: none;
  margin-left: 10px;
  transition: all 0.4s ease-in-out;
}

.text_link:hover {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background: none;
}

.field_error {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  color: maroon;
  margin: auto;
}

.vertical-center {
  /* margin: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fade-up {
  animation-name: fade-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.fade-out {
  /* animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; */
}

.no_display {
  /* opacity: 0; */
}

@keyframes fade-up {
  from {
    opacity: 0.4;

    /* top: 45%;
    left: 50%; */
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
    /* display: block; */
  }
  to {
    /* top: 50%;
    left: 50%; */
    opacity: 1;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  to {
    opacity: 0;
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    z-index: 10;
    display: none;
  }
}

.text-maroon-400 {
  color: maroon;
}
